<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290333653941-q42c95c57tbr9kjn56ppsgrr6mkfprph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290333653941-q42c95c57tbr9kjn56ppsgrr6mkfprph</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9fnd0aDG1OgpA3skg0AD5eJ88D5TmK4</string>
	<key>GCM_SENDER_ID</key>
	<string>290333653941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectApp</string>
	<key>PROJECT_ID</key>
	<string>cmsc-23-project-91380</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc-23-project-91380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290333653941:ios:3733f599b7e37c7b35f7fc</string>
</dict>
</plist>